/*
 * Empty Stylesheet file.
 */

*{
    -fx-text-fill: #040404;
    -fx-font-weight: bold;
    -fx-aligment:CENTER;
    -fx-base-color-focus:#09b6bc;
    -fx-base-color-unfocus:#4d4d4d;
    -fx-base-color-etiquetas:#4d4d4d;
    -fx-base-color-titulos:#51b6cd;
    -fx-base-color-id:#00c853;
    -mfx-main:-fx-base-color-focus;
    -mfx-purple:-fx-base-color-focus;
}
.Title{
    -fx-text-fill: #5271ff;
    -fx-font-size:28px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.mfx-button{
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display:left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size:14px;
    -fx-aligment:CENTER;
}

.button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-alignment:CENTER;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.button:hover{
    -fx-background-color: #ff6600;
}

/*PlayerBoard*/
.triangle-button {
    -fx-text-fill: #000033;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: bottom-center;
    -fx-padding: 2px;
    -fx-shape: "M 0 100 L 100 100 L 50 0 Z";
}
.lblPlayer{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-text-fill: #000000;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-background-color:#ffffff;
    -fx-opacity: 0.7;
}
/*SelectCrownCategory*/
.CrownCategory-background{
    -fx-background-color: rgba(194, 195, 219, 0.68);
}
.lblSport{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill: #A8412B;
}
.lblEntertainment{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #ED0E86;
}
.lblScience{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #4EC772;
}
.lblArt{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:#EAAC34;
}
.lblGeography{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #6ACEDA;
}
.lblHistory{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:#BF6A17;
}
/*PrincipalView*/
.backgroundImage {
    -fx-background-image: url("../resources/Fondo_Principal.png");
    -fx-background-size: cover;
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
    -fx-background-position: center;
}
.Title_Principal{
    -fx-font-family: Roboto;
    -fx-text-fill: #ffffff;
    -fx-font-size:35px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.lblTime{
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-font-size:20px;
    -fx-padding: 2 0 2 0;
    -fx-font-weight:bold;
}
.vbxTime{
    -fx-background-color:#ffffff;
     -fx-opacity: 0.7;
    
}
.lblRound{
    -fx-font-family: "Century";
    -fx-text-fill: #fa0101;
    -fx-font-size:15px;
    -fx-padding: 2 0 2 0;
    -fx-font-weight:bold;
}
.lblCurrentPlayer{
    -fx-font-family: "Century";
    -fx-text-fill: #034bfd;
    -fx-font-size:15px;
    -fx-padding: 2 0 2 0;
    -fx-font-weight:bold;
}
/*LogInView*/
.backgroundImageLogIn {
    -fx-background-image: url("../resources/Fondo_LogIn.png");
    -fx-background-size: cover;
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
    -fx-background-position: center;
}
.mfx-btn-NewGame,.mfx-btn-NewGame:armed,.mfx-btn-NewGame:focused{
    -fx-background-color:#00C853;
}

.mfx-btn-NewGame>ImageView{
    -fx-image: url("../resources/newGame.png");
}

.mfx-btn-NewGame:hover{
    -fx-background-color:#00ff66;
}
.mfx-btn-MaintenanceQuestion,.mfx-btn-MaintenanceQuestion:armed,.mfx-btn-MaintenanceQuestion:focused{
    -fx-background-color: #e8de40;
}

.mfx-btn-MaintenanceQuestion>ImageView{
    -fx-image: url("../resources/Maitenance.png");
}

.mfx-btn-MaintenanceQuestion:hover{
    -fx-background-color: #f0f481;
}
.mfx-btn-LoadGame,.mfx-btn-LoadGame:armed,.mfx-btn-LoadGame:focused{
    -fx-background-color: #49f6e2;
}

.mfx-btn-LoadGame>ImageView{
    -fx-image: url("../resources/LoadGame.png");
}

.mfx-btn-LoadGame:hover{
    -fx-background-color: #81f8d7;
}

.mfx-btn-Exit,.mfx-btn-Exit:armed,.mfx-btn-Exit:focused{
    -fx-background-color: #ec5858;
}
.mfx-btn-Exit>ImageView{
    -fx-image: url("../resources/exit.png");
}
.mfx-btn-Exit:hover{
    -fx-background-color: #f489a5;
}
.mfx-btn-Statistics,.mfx-btn-Statistics:armed,.mfx-btn-Statistics:focused{
    -fx-background-color: #79d1fd;
}
.mfx-btn-Statistics>ImageView{
    -fx-image: url("../resources/Statistics.png");
}

.mfx-btn-Statistics:hover{
    -fx-background-color: #a0d3e8;
}
.mfx-btn-About,.mfx-btn-About:armed,.mfx-btn-About:focused{
    -fx-background-color: #56588e;
}
.mfx-btn-About>ImageView{
    -fx-image: url("../resources/About.png");
}

.mfx-btn-About:hover{
    -fx-background-color: #da9fea;
}
/*Maintenance question*/
.mfx-btn-background-MaintenanceQuestion{
    -fx-background-color: #f0f481;
}
.lbl-amount-maintenance{
    -fx-font-size: 15.0px;
    -fx-text-fill: #000000;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-background-color:#f0f481;
    -fx-opacity: 0.7;
}
/*Search question*/
.tbvQuestions{
    -fx-font-family: Roboto;
      -fx-alignment:CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;

}
.mfx-btn-Accept-Question,.mfx-btn-Search-Question:armed,.mfx-btn-Search-Question:focused{
    -fx-background-color: #30daf4;
}
.mfx-btn-Accept-Question>ImageView{
    -fx-image: url("../resources/icon-accept.png");
}

.mfx-btn-Accept-Question:hover{
    -fx-background-color: #8fedfb;
}
/*QuestionView*/
.button-Question{
    -fx-background-color: #a19f9f;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

/*StatisticalGraph*/
.statisticalGraph{
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-bar-fill: #3498db;
}

.statisticalGraphBackground{
    -fx-background-color:#ffffff;
    -fx-opacity: 0.9;
}

.playerLabel{
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
}

.mfx-btn-new,.mfx-btn-new:armed,.mfx-btn-new:focused{
    -fx-background-color:#2196F3;
}

.mfx-btn-new>ImageView{
    -fx-image: url("../resources/Agregar-48.png");
}

.mfx-btn-new:hover{
    -fx-background-color:#00ffcc;
}

.mfx-btn-Search,.mfx-btn-Search:armed,.mfx-btn-Search:focused{
    -fx-background-color:#00bcd4;
}

.mfx-btn-Search>ImageView{
    -fx-image: url("../resources/Buscar-48.png");
}

.mfx-btn-Search:hover{
    -fx-background-color:#006666;
}

.mfx-btn-Delete,.mfx-btn-Delete:armed,.mfx-btn-Delete:focused{
    -fx-background-color:#f44336;
}

.mfx-btn-Delete>ImageView{
    -fx-image: url("../resources/Eliminar-48.png");
}

.mfx-btn-Delete:hover{
    -fx-background-color:#ff0000;
}

.mfx-btn-Save,.mfx-btn-Save:armed,.mfx-btn-Save:focused{
    -fx-background-color:#00C853;
}

.mfx-btn-Save>ImageView{
    -fx-image: url("../resources/Guardar-48.png");
}

.mfx-btn-Save:hover{
    -fx-background-color:#00ff66;
}
/*EndGameView*/
.lbl-EndGame{
    -fx-font-family: Roboto;
    -fx-text-fill: #5B1958;
    -fx-font-size:23px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}

.lbl-About{
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-background-color:#cccccc;
}

.vboxCard{
    -fx-background-color:#1A1A1A;
}

.cardBackground{
    -fx-background-color:#56588e;
}

.questionText{
    -fx-fill:#ffffff; 
    -fx-font-size: 12px; 
    -fx-font-weight: bold;
}

.button-Help{
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-background-color:#cccccc;
}

.button-Help:hover{
    -fx-background-color:#272dce;
}
/*DuelView*/
.lblWinner{
    -fx-font-family: Roboto;
    -fx-text-fill: #ffd700;
    -fx-font-size: 23px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box, rgba(163, 0, 0, 0.6),2,0.0,1,2);
}
.lblTurn{
    -fx-font-family: Roboto;
    -fx-text-fill: #0a811c;
    -fx-font-size: 20px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
}

/*LogInview*/
.mfx-background-color-logIn{
    -fx-background-color: #bcf4be;
}
/*NewGameview*/
.mfx-btn-Play{
    -fx-background-color: #27deea;
}

.mfx-btn-Play>ImageView{
    -fx-image: url("../resources/icon-play.png");
}

.mfx-btn-Play:hover{
    -fx-background-color: #357985;
}
.mfx-btn-SelectAvatar{
    -fx-background-color: #206bd3;
}

.mfx-btn-SelectAvatar>ImageView{
    -fx-image: url("../resources/icon-select.png");
}

.mfx-btn-SelectAvatar:hover{
    -fx-background-color: #6182c3;
}
/*SearchGameView*/
.lbl-background-SearchGame{
    -fx-font-size: 14.0px;
    -fx-text-fill: #000000;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-background-color:#81f8d7;
}

/*SliderTime*/
.slider .track {
    -fx-background-color: #c56dff;
}
.slider .thumb {
    -fx-background-color: #36ff00;
}