/*
 * Empty Stylesheet file.
 */

*{
    -fx-base-color-focus:#09b6bc;
    -fx-base-color-unfocus:#4d4d4d;
    -fx-base-color-etiquetas:#4d4d4d;
    -fx-base-color-titulos:#51b6cd;
    -fx-base-color-id:#00c853;
}
.Title{
    -fx-text-fill: #5271ff;
    -fx-font-size:28px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.mfx-button{
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display:left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size:14px;
    -fx-aligment:CENTER_LEFT;
}

.button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-alignment:CENTER_LEFT;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.button:hover{
    -fx-background-color: #ff6600;
}

/*PlayerBoard*/
.triangle-button {
    -fx-text-fill: #000033;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: bottom-center;
    -fx-padding: 2px;
    -fx-shape: "M 0 100 L 100 100 L 50 0 Z";
}
.lblPlayer{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.1), 1, 0.1, 0, 1);
}
/*SelectCrownCategory*/
.CrownCategory-background{
    -fx-background-color: rgba(194, 195, 219, 0.68);
}
.lblSport{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill: #A8412B;
}
.lblEntertainment{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #ED0E86;
}
.lblScience{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #4EC772;
}
.lblArt{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:#EAAC34;
}
.lblGeography{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:  #6ACEDA;
}
.lblHistory{
    -fx-font-family: Roboto;
    -fx-font-size: 15.0px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.1, 0, 1);
    -fx-text-fill:#BF6A17;
}
/*PrincipalView*/
.backgroundImage {
    -fx-background-image: url("../resources/prueba.png");
    -fx-background-size: cover;
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
    -fx-background-position: center;
}
/*PrincipalView*/
.Title_Principal{
    -fx-font-family: Roboto;
    -fx-text-fill: #ffffff;
    -fx-font-size:35px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.lblTime{
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-font-size:20px;
    -fx-padding: 2 0 2 0;
    -fx-font-weight:bold;
}
.vbxTime{
    -fx-background-color:#ffffff;
     -fx-opacity: 0.7;
    
}
/*Maintenance question*/
/*Search question*/
.tbvQuestions{
    -fx-font-family: Roboto;
      -fx-alignment:CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;

}
